#include "common-nrf52832.overlay"

&spi0 {
	status = "ok";
	sck-pin = <6>;
	mosi-pin = <2>;
	miso-pin = <7>;

	ws2812@0 {
		compatible = "worldsemi,ws2812";
		reg = <0>;
		spi-max-frequency = <5250000>;
		label = "WS2812";
	};
};

&uart0 {
	rts-pin = <0x03>;
};

/ {
	buttons {
		compatible = "gpio-keys";
		timer0: timer_0 {
			gpios = <&gpio0 5 GPIO_PUD_PULL_UP>;
			label = "GPIO timer switch";
		};
	};

	aliases {
		dt-sw-timer0 = &timer0;
	};
};
